<div *ngIf="(authService.currentUser$ | async) as user; else loggedOut" class="container-scroller bg-dark text-white bg-dark">
  <app-sidebar></app-sidebar>
  <div class="container-fluid page-body-wrapper">
    <app-navbar></app-navbar>
    <div class="content-wrapper p-2 mr-4 mt-2">
      <div class="main-panel">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <div>
    <router-outlet></router-outlet>
  </div>
</ng-template>



<!-- <app-header></app-header>
<app-sidebar></app-sidebar>

<app-breadcrumb></app-breadcrumb>
<app-notification></app-notification>

<router-outlet></router-outlet>

<app-footer></app-footer>
 -->


<!--  <div class="container-fluid g-0">
    <app-header></app-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <app-sidebar ngSkipHydration></app-sidebar>
        </div>
        <div class="bg-white col-md-9">
          <app-breadcrumb></app-breadcrumb>
          <app-notification></app-notification>
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div> -->


  <!-- <ng-container *ngIf="userRole === 'Manager'">
</ng-container>  -->

<!-- <ng-container *ngIf="userRole === 'user'">
  <div class="container-fluid g-0">
    <app-header></app-header>
    <div class="container-fluid">
      <app-breadcrumb></app-breadcrumb>
      <app-notification></app-notification>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</ng-container> -->


<!-- Visitor -->
<!-- <div class="container-fluid g-0">
  <app-header></app-header>
    <app-sidebar ngSkipHydration></app-sidebar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div> -->