
<div class="contanier">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Salary</th>
                <th>Bonys</th>
                <th>Advance</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let emp for employees"> -->
            <tr *ngFor="let emp of employees; index as i">
                <td>{{emp[0]}}</td>
                <td>{{emp[1]}}</td>
                <td>{{emp[2]}}</td>
                <td>{{emp[3]}}</td>
                <td><button ></button></td>
            </tr>
        </tbody>
    </table>
</div>
