<div class="welcome-container">
  <div *ngIf="user" class="profile-card">
    <img [src]="user.profilePhoto || 'path-to-default-image.jpg'" alt="{{user.fullName}}" class="profile-photo">

    <div class="user-details">
      <h3 class="text-warning">Welcome! </h3>
      <h2 class="text-info">{{ user.fullName }}</h2>
      <p class="text-danger"><strong>Email: </strong> {{ user.email }}</p>
      <p class="text-success"><strong>Your current role is: </strong> {{ user.role }}</p>
      <div>
        <h6>We're glad to have you back again!!!</h6>
      </div>
    </div>
  </div>

  <div class="additional-info">
    <p> A new team member is more likely to catch processes or norms that could be improved. Let the new hire know that you're
    looking forward to hearing any and all feedback they have surrounding the team, culture, and work. This is one way to
    create a sense of psychological safety for your new employee.</p>
  </div>

  <div>
    <a routerLink="/dashboard" class="btn btn-primary">Let's go to the Work!!</a>
  </div>
</div>

<div *ngIf="!user">
  <p>User Profile is Loading...</p>
</div>


<!-- <div class="welcome-container">

  <div *ngIf="user" class="profile-card">

    <img [src]="user.profilePhoto" alt="{{user.name}}" class="profile-photo" *ngIf="user.profilePhoto">

    <div class="user-details">
      <h3 class="text-warning">Welcome! </h3>
      <h2 class="text-info">{{ user.name }}</h2>
      <p class="text-danger"><strong>Email: </strong> {{ user.email }}</p>
      <p class="text-success"><strong>Role: </strong> {{ user.role }}</p>
      <div>
        <h6>We're glad to have you back!</h6>
      </div>
    </div>
  </div>

  <div class="additional-info">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nobis similique, neque magnam perferendis
      doloremque! Nulla magni veritatis recusandae doloribus necessitatibus similique perspiciatis libero, magnam eius
      iusto vero expedita! Enim.</p>
  </div>

  <div>
    <a routerLink="/home" class="btn btn-primary">Go to Dashboard</a>
  </div>
</div>

<div *ngIf="!user">
  <p>User Profile is Loading...</p>
</div> -->