<div class="container mt-4">

  <h2 class="text-center">Locations List</h2>
  <div *ngIf="locations.length > 0; else noLocations">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let location of locations">
        <div class="card">
          <img [src]="location.photo" class="card-img-top" alt="{{ location.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ location.name }}</h5>
            <p class="card-text">
              <strong>Address:</strong> {{ location.address }}, {{ location.city }}, {{ location.zipCode }}, {{
              location.state }}, {{ location.country }}
              <br>
              <strong>Created At:</strong> {{ location.createdAt | date: 'short' }}
            </p>
            <a href="#" class="btn btn-info" (click)="viewLocation(location.id)">View</a>
            <a href="#" class="btn btn-warning" (click)="editLocation(location.id)">Edit</a>
            <a href="#" class="btn btn-danger" (click)="deleteLocation(location.id)">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noLocations>
    <div class="alert alert-info" role="alert">
      No locations found.
    </div>
  </ng-template>
</div>