<!-- Navbar -->
<!-- <div class="m-3 sticky-top top">
  <h1> Class System </h1>
  <h6> Md Raju Ahmed</h6>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HR & PM System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navigation links based on user roles -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>

        <!-- Admin Role Links -->
        <ng-container *ngIf="userRole === 'Admin'">
          <!-- Manager Panel -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manager
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/managers/create">Add Manager</a></li>
              <li><a class="dropdown-item" routerLink="/managers/list">Manager List</a></li>
            </ul>
          </li>

          <!-- Employee Panel -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Employee
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/employees/create">Add Employee</a></li>
              <li><a class="dropdown-item" routerLink="/employees/list">Employee List</a></li>
            </ul>
          </li>

          <!-- Department Panel -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Department
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/departments/create">Add Department</a></li>
              <li><a class="dropdown-item" routerLink="/departments/list">Department List</a></li>
            </ul>
          </li>

          <!-- Location Panel -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Location
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/locations/create">Add Location</a></li>
              <li><a class="dropdown-item" routerLink="/locations/list">Location List</a></li>
            </ul>
          </li>

          <!-- Miscellaneous Panel -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Miscellaneous
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/attendances/list">Attendance</a></li>
              <li><a class="dropdown-item" routerLink="/performances/list">Performance</a></li>
              <li><a class="dropdown-item" routerLink="/leaves/list">Leave</a></li>
              <li><a class="dropdown-item" routerLink="/feedbacks/list">Feedback</a></li>
            </ul>
          </li>
        </ng-container>

        <!-- Manager Role Links -->
        <ng-container *ngIf="userRole === 'Manager'">
          <!-- Employee Management -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Employee
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/employees/create">Add Employee</a></li>
              <li><a class="dropdown-item" routerLink="/employees/list">Employee List</a></li>
            </ul>
          </li>

          <!-- Attendance and Performance -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/attendances/list">Attendance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/performances/list">Performance</a>
          </li>
        </ng-container>

        <!-- User Role Links -->
        <ng-container *ngIf="userRole === 'User'">
          <li class="nav-item">
            <a class="nav-link" routerLink="/attendances/create">Attendance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/feedbacks/create">Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/leaves/create">Leave</a>
          </li>
        </ng-container>
      </ul>

      <!-- Profile and Search Forms -->
      <ng-container *ngIf="userRole">
        <ul class="navbar-nav d-flex me-4 me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/userprofile">View Profile</a></li>
              <li><a class="dropdown-item" routerLink="/logout">Log Out</a></li>
              <li><a class="dropdown-item" routerLink="/forgetpassword">Forget Password?</a></li>
            </ul>
          </li>
        </ul>
      </ng-container>

      <!-- Log In Button: Only show if no user is logged in -->
      <ng-container *ngIf="!userRole">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn btn-info text-white" routerLink="/login" role="button" aria-expanded="false">
              Log In
            </a>
          </li>
        </ul>
      </ng-container>

    </div>
  </div>
</nav>



<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HR & PM System</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>

        <ng-container *ngIf="userRole === 'Admin'">


          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Manager
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/managers/create">Add Manager</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/managers/list">Manager List</a></li>

              </ul>
            </li>
          </ul>


          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Employee
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/employees/create">Add Employee</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/employees/list">Employee List</a></li>
              </ul>
            </li>
          </ul>


          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Department</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/departments/create">Add Department</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/departments/list">Department List</a></li>
              </ul>
            </li>
          </ul>

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Location</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/locations/create">Add Location</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/locations/list">Location List</a></li>
              </ul>
            </li>
          </ul>


          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Miscellaneous</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/attendances/list">Attendance</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/Performances/list">Performance</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/leaves/list">Leave</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/feedbacks/list">Feedback</a></li>
              </ul>
            </li>
          </ul>
        </ng-container>
        
        <ng-container *ngIf="userRole === 'User'">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <a class="nav-link " routerLink="/attendances/create"     aria-expanded="false">
                Attendance
              </a>
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <a class="nav-link " routerLink="/feedbacks/create"     aria-expanded="false">
                Feedback
              </a>
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <a class="nav-link " routerLink="/leaves/create"     aria-expanded="false">
                Leave
              </a>
          </ul>
        </ng-container>
      </ul>

      <ng-container *ngIf="userRole">
        <form class="d-flex me-4 me-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>

        <ul class="navbar-nav d-flex me-4 me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Profile </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/userprofile">View Profile</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/logout">Log Out</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/forgetpassword">Forget Password?</a>
              </li>
            </ul>
          </li>
        </ul>
      </ng-container>

      <ng-container *ngIf="!userRole">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="btn btn-info text-white" routerLink="/login" role="button" aria-expanded="false">
              Log In
            </a>
          </li>
        </ul>
      </ng-container>

    </div>
  </div>
</nav> -->