<div class="container">
  <h1 class="text-center mb-4">Attendance List</h1>

  <!-- Display loading indicator -->
  <div *ngIf="loading" class="loading-spinner text-center">
    <p>Loading attendances...</p>
  </div>

  <!-- Display error message -->
  <div *ngIf="errorMessage" class="error-message alert alert-danger text-center">
    <p>{{ errorMessage }}</p>
  </div>

  <!-- Attendance Cards -->
  <div *ngIf="!loading && !errorMessage">
    <div class="col-md-12">
      <div>
        <h5 class="text-center mb-4">Attendance Details</h5>
        <table class="table table-bordered">
          <thead class="text-center">
            <tr>
              <th>ID</th>
              <th>Attendance Holder Name</th>
              <th>In Time</th>
              <th>Out Time</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attendance of attendanceData let i=index">
              <td>{{i+1}}</td>
              <td>{{attendance.employee.fullName}}</td>
              <td>{{attendance.checkIn| date:'medium'}}</td>
              <td>{{attendance.checkOut| date:'medium'}}</td>
              <td>
                <button class="btn btn-warning mx-1" (click)="onEdit(attendance)">Edit</button>
                <button class="btn btn-danger mx-1" (click)="deleteAttendance(attendance)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>