<!-- <ng-container *ngIf="userRole === 'Admin'"> -->
  <div class="container-fluid g-0">
    <!-- Pass isAuthenticated to the HeaderComponent -->
    <app-header></app-header>
    <!-- <app-header [isAuthenticated]="isAuthenticated"></app-header> -->
    <div class="container-fluid">
      <div class="row">
        <!-- Conditionally show the sidebar if authenticated -->
        <div class="col-md-2">
          <app-sidebar ngSkipHydration></app-sidebar>
        </div>
        <div class="bg-white col-md-9">
          <app-breadcrumb></app-breadcrumb>
          <app-notification></app-notification>
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
<!-- </ng-container> -->

<!-- 
<ng-container *ngIf="userRole === 'Manager'">
  <div class="container-fluid g-0">
    <app-header></app-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <app-sidebar ngSkipHydration></app-sidebar>
        </div>
        <div class="bg-white col-md-9">
          <app-breadcrumb></app-breadcrumb>
          <app-notification></app-notification>
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->

<!-- <ng-container *ngIf="userRole === 'user'">
  <div class="container-fluid g-0">
    <app-header></app-header>
    <div class="container-fluid">
      <app-breadcrumb></app-breadcrumb>
      <app-notification></app-notification>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</ng-container> -->


<!-- Visitor -->
<!-- <div class="container-fluid g-0">
  <app-header></app-header>
    <app-sidebar ngSkipHydration></app-sidebar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div> -->